.Ti {
    height: 600px;
    width: 450px;
    background-color: rgb(255, 94, 94);
    margin-top: 50px;
    padding: 50px;
    border-radius:  20px;
    margin: 10px;
    border: solid 5px black ;
   }
    
   body {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    background-color: ivory;
   }
    
   #type {
    margin: 20px;
    height: 50px;
    width: 405px;
    font-size: 30px;
    background-color: white;
    border-radius: 10px;
    margin-bottom: 40px;
    text-align: center;
    font-size: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  
   }
   .outline {
    width: 420px;
    height: 500px;
    background-color:transparent;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    gap: 25px;
    flex-wrap: wrap;
    margin-left: 7px;
  
   }
   button {
    height: 50px;
    width: 120px;
    font-size: larger;
    position: relative;
    z-index: 1;
    transition: ease-out 1s;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-radius: 20px;
    background-color: ivory;
  
   }
    
    
   button:hover{
      color:rgb(0, 0, 0);
      cursor: pointer;
     
   }
   button:before{
      transition: 0.5s all ease;
      position: absolute;
      top: 0;
      left:50%;
      right: 50%;
      bottom:0;
      opacity: 0;
      content: "";
      background-color:  rgb(241, 198, 205);
      border-radius: 20px;
   }
   button:hover::before{ 
   transition: 0.5s all ease ;
   left:0;
   right:0;
   opacity: 1;
   z-index: -1;
   }

   